<h1 class="text-center">{{titulo}}</h1>

<div class="container">

    <form action="">

        <div class="row">

            <div class="col-md-6">

                <div class="card">

                    <div class="card-header bg-primary text-white">
                        Datos de Usuario
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Nombres:</label>
                            <input class="form-control" type="text" id="nombres" name="nombres">
                        </div>

                        <div class="form-group">
                            <label for="">Apellidos:</label>
                            <input class="form-control" type="text" id="apellidos" name="apellidos">
                        </div>

                        <div class="form-group">
                            <label for="">Correo:</label>
                            <input class="form-control" type="text" id="correo" name="correo">
                        </div>
                    </div>

                </div>

            </div>



            <div class="col-md-6">

                <div class="card">

                    <div class="card-header bg-secondary text-white">
                        Datos de Dirección
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Calle Principal:</label>
                            <input class="form-control" type="text" id="calle_principal" name="calle_principal">
                        </div>

                        <div class="form-group">
                            <label for="">Calle Secundaria:</label>
                            <input class="form-control" type="text" id="calle_secundaria" name="calle_secundaria">
                        </div>

                        <div class="form-group">
                            <label for="">Referencia:</label>
                            <input class="form-control" type="text" id="referencia" name="referencia">
                        </div>
                    </div>

                </div>

            </div>


        </div>




        <button class="btn btn-success  mt-3 w-100">
            Guardar <span class="fas fa-download"></span>
        </button>
    </form>
</div>